/* main.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout takes at least the full height of the viewport */
}
.nav-menu {
  background-color: white;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0 10px;
  }
}
i {
  display: none;
}

.content {
  display: flex; /* Use flexbox for the content */
  flex: 1; /* Ensure the content area takes up remaining space */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

main {
  background-color: #f0f8ff; /* AliceBlue */
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

section {
  background-color: #e6e6fa; /* Lavender */
  padding: 15px;
  margin: 5px;
}

article {
  background-color: #e0ffff; /* LightCyan */
  padding: 15px;
  margin: 5px;
}

aside {
  background-color: #fffacd; /* LemonChiffon */
  padding: 10px;
  margin: 5px;
  width: 250px; /* Adjust width as needed */
}

footer {
  background-color: #ffe4e1; /* MistyRose */
  padding: 10px;
  margin-top: 15px;
  flex-shrink: 0;
}
